// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    /***GENERAL***/
    section{
        padding: 40px;
    }
    /***NAVEGATION***/
    .header{
        .navegador{
            .nav_menu{
                background-color: transparent;
                position: relative;
                top: auto;
                right: auto;
                width: auto;
                opacity: 1;
                z-index: auto;
                padding: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                transform: rotate(0);
                margin: 0;
                .nav_link{
                    width: auto;
                    .link{
                        width: auto;
                    }
                }
            }
            .menu_link{
                display: none;
            }
        }
    }
    /***ABOUT ME SECTION***/
    .about_me_section{
        padding: 100px 40px 40px;
    }
    /***PROJECTS SECTION***/
    .projects_section{
        padding: 40px;
        .projects_container{
            .mySwiperProjects{
                .swiper-wrapper{
                    padding-bottom: 70px;
                }
            }
        }
    }
    /***SUSCRIPTION SECTION***/
    .suscription_section{
        padding: 40px 50px;
        .suscription_container{
            padding: 40px 80px;
            .circle_gradient{
                height: 200px;
                width: 200px;
                right: -100px;
                bottom: -100px;
            }
        }
    }
}
