{% extends "base/base.html" %}
{% load static %}
{% block title %}RogerDV Developer{% endblock title %}
{% block styles %}

<link rel="stylesheet" href="{% static "libraries/swiper/css/swiper-bundle.min.css" %}">

{% endblock styles %}

{% block contain %}

    <section class="about_me_section">

    </section>

    <section class="services_section">

    </section>

    <main class="projects_section">

    </main>

    <section class="experiences_section">

    </section>

    <section class="education_section">

    </section>

{% endblock contain %}

{% block javascript %}

<script src="{% static 'libraries/swiper/js/swiper-bundle.min.js' %}"></script>

{% endblock javascript %}