/***ANIMATIONS***/
@keyframes bar_charge {
    0%{
        background-image: linear-gradient(to right, $color_primario,rgb(10, 80, 56));
    }
    35%{
        background-image: linear-gradient(to right,rgb(10, 80, 56), $color_primario,rgb(10, 80, 56));
    }
    70%{
        background-image: linear-gradient(to right,rgb(10, 80, 56),rgb(10, 80, 56),$color_primario);
    }
    100%{
        background-image: linear-gradient(to right, $color_primario,rgb(10, 80, 56));
    }
}

@keyframes reveal {
    0%{
        transform:
        translateY(60px)
        scale(.5)
        ;
        opacity: 0;
    }
    100%{
        transform:
        translateY(0px)
        scale(1)
        ;
        opacity: 1;
    }
}