/*** VARIABLES ***/
$color_primario: rgb(16, 185, 129);
$color_secundario: rgb(35, 46, 53);
$bg_color: rgba(35, 46, 53, 0.9);
$navbar_color: rgb(31 41 55);
$edsk_color: rgb(30 41 59);
$test_color: rgb(51 65 85);
$font_size_var: 16px;
$espaciado: 1.7;
/***VARIABLES WHITE***/
$color_secundario_white: white;
$bg_color_white: whitesmoke;
$test_color_white:rgb(229 231 235);
/***GENERAL***/
body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: $font_size_var;
    line-height: $espaciado;
    background-color: $bg_color;
    color: white;
}
h2,p,h3,h4,h1{
    margin: 0;
    padding: 0;
}
section{
    padding: 40px 10px;
}
.header_section{
    h5{
        text-align: center;
    }
    h2{
        text-align: center;
        font-weight: 700;
    }
}