/*** VARIABLES ***/
$color_primario: rgb(16, 185, 129);
$color_secundario: rgb(35, 46, 53);
$bg_color: rgba(35, 46, 53, 0.9);
$navbar_color: rgb(31 41 55);
$edsk_color: rgb(30 41 59);
$test_color: rgb(51 65 85);
$font_size_var: 16px;
$espaciado: 1.7;
/***GENERAL***/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: $font_size_var;
    line-height: $espaciado;
    background-color: $bg_color;
}
section{
    padding: 60px 10px;
}
.bar_charge{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    #progress{
        height: 5px;
        width: 0;
        background: linear-gradient(to right, $color_primario,rgb(10, 80, 56));
        z-index: 100;
    }
}