/***NAVEGATION***/
.header{
    background-color: $navbar_color;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 70px;
    box-shadow: 0 3px 3px rgba(255, 255, 255, 0.500);
    z-index: 999;
    .bar_charge{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        #progress{
            height: 5px;
            width: 0;
            background: linear-gradient(to right, $color_primario,rgb(10, 80, 56));
            z-index: 100;
        }
    }
    .navegador{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            height: 60px;
        }
        .nav_menu{
            position: fixed;
            list-style: none;
            top: 70px;
            right: -100%;
            width: 100%;
            transition: all .5s;
            opacity: 0;
            background-color: $navbar_color;
            z-index: -1;
            padding: 30px 5px;
            transform: rotate(35deg);
            .nav_link{
                width: 100%;
                .link{
                    display: flex;
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    text-decoration: none;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    transition: all .8s;
                    gap: 10px;
                    &:hover{
                        color: $color_primario;
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        .menu_link{
            color: white;
            font-size: 22px;
            cursor: pointer;
        }
        #menu_link{
            display: none;
            &:checked ~ .nav_menu{
                right: 0;
                opacity: 1;
                z-index: 100;
                transform: rotate(0);
            }
        }
        .switch{
            font-size: 22px;
            background-color: white;
            color: black;
            padding: 0 5px;
            width: 60px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border-radius: 100px;
            border: none;
            transition: all .5s;
            i{
                font-size: 16px;
            }
            &::before{
                content: "";
                position: absolute;
                right: 1px;
                left: unset;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background: linear-gradient(to right, $color_primario,rgb(10, 80, 56));
                transition: all .5s;
            }
        }
        .switch.ligth_mode{
            border: 1px solid $navbar_color;
            background-color: $navbar_color;
            i{
                color: white;
            }
            &::before{
            transform: translateX(-30px);
            background: linear-gradient(to right,rgb(10, 80, 56), $color_primario);
            transition: all .5s;
            }
        }
    }
}